name: CI

on: [push]

jobs:
  ci:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code into workspace directory
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '20.x'

      - name: Install yarn
        run: npm install --global yarn

      - name: Install dependency
        run: yarn install

      - name: CI
        env:
          AUTHKEY: ${{ secrets.NODE_AUTH_KEY }}
        run: yarn run ci-pipeline
